---
layout: single
title: "Activities"
permalink: /activities/
author_profile: true
---

<h2>Community Service</h2>

<b>Program committee</b>
{% for entry in site.data.programcommittee %}
<li>{{entry.venue }}. {{ entry.year }}
{% endfor %}
</ul>

<br>
<br>

<b>Reviewer</b>
{% for entry in site.data.reviewer %}
<li>{{entry.venue }}. {{ entry.year }}
{% endfor %}
</ul>

<br>

<h2>Workshop Organization</h2>


{% for entry in site.data.workshops %}
<li>[<b>{{entry.year }}</b>] <b><a href="{{ entry.url }}">{{ entry.title }}</b></a> <br> At{{ entry.conference }} <br> With {{ entry.coauthors }}.  
{% endfor %}
</ul>

<br>

<h2>Side Projects</h2>


{% for entry in site.data.sideprojects %}
<li>[<b>{{entry.year }}</b>] <b><a href="{{ entry.url }}">{{ entry.title }}</b></a> with {{ entry.coauthors }}.  
{% endfor %}
</ul>