---
layout: single
title: "Education"
permalink: /teaching/
author_profile: true
---

{% include base_path %}
<h2>Teaching Assistant</h2>

{% for data_col in site.data.teaching %}
{% for entry in data_col.data %}
<h3><a href="{{ entry.url }}">{{ entry.name }}</a></h3>
<b>{{entry.time}}</b> <br>
{{ entry.description }}
{% endfor %}
{% endfor %}

<br>

<h2>Guest Lectures</h2>

{% for entry in site.data.guest %}
<li><b>[{{entry.time }}] <a href="{{ entry.url }}">{{ entry.titlecourse }}</a>.</b> <i>{{ entry.title }}</i>
     {{ entry.note }}</li>
{% endfor %}
</ul>

<br>
<h2 id="MSc_supervision">Master Theses</h2>

{% for entry in site.data.supervision %}
<li><b>[{{ entry.year }}]</b>  
<b><a href="{{ entry.url }}">{{ entry.title }}</b></a>. <i>{{ entry.student }}</i>. {{ entry.note }}</li>
{% endfor %}
</ul>

